#card{
    color: white;
}
.card{
    width: 300px;
    height: 400px;
}
/* body{
    background-color: red;
} */
.box{
    width: 100px;
    height: 100px;
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxes{
    height: 100vh;
    display: flex;
    gap: 10px;
    align-items: center;
    /* align-items: flex-end; */
    flex-wrap: wrap;
    /* justify-content: center; */
    /* justify-content: space-between; */
    justify-content: space-around;
    /* justify-content: space-evenly; */
    justify-content: flex-end;
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
}
.box1{
    /* flex-shrink: 0; */
    /* flex-basis: 300px; */
    flex-grow: 2;
}