<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Add New Student</h3>
    <form method="post">
        <input type="text" placeholder="enter your name" name="name">
        <input type="number" placeholder="enter your age" name="age">
        <input type="number" placeholder="enter your Number" name="mobile">
        <input type="number" placeholder="enter your Course" name="course">
        <button>Add Student</button>
    </form>
</body>
</html>