<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1> 
    <a href="{{url_for('studentBp.add')}}">Add Student</a> 
    <table>
        <thead>
            <th>Name</th>
            <th>Age</th>
            <th>Mobile</th>
            <th>Course</th>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td>{{s.name}}</td>
                <td>{{s.mobile}}</td>
                <td>{{s.age}}</td>
                <td>{{s.course}}</td>
                <td>
                    <a href="{{ url_for('studentBp.update', id=s._id) }}">Edit</a> |
                    <a href="{{ url_for('studentBp.delete', id=s._id) }}" onclick="return confirm('Are you sure?')">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>